<div class="about">
<h1>About</h1>
<p>This application is for assignment purpose. It is developed based on following requirements.</p>

<br>

<h2>Problem statement</h2>
<p>You are required to create SPA and web APIs for finding the Levenshtein distance (LD) between two strings.</p>

<br>

<h2>Data Validation Specifications</h2>
<ul>
    <li>All validation checks have to be implemented on both front-end and API side.</li>
    <li>Identify, list and implement all possible necessary checks.</li>
</ul>

<h2>Technical specifications</h2>
<ul>
    <li>API needs to be REST-based Web API using JSON for data transfer.</li>
    <li>Calls have to be made over SSL. Or at least they need to be redirected to SSL.</li>
    <li>We should be able to access the API with POSTMAN/Fiddler. But kindly protect the API with authorization token of your choice.</li>
    <li>The web interface should allow the user to enter two strings and on submitting the same, the calculated distance should be stored in local/session storage.</li>
</ul>

<br>

<strong>Bonus: </strong> <label><u>A graphical representation of different characters of both strings in a matrix is a big bonus!!</u></label>

<br>

<p>For example, for string “HONDA” and “HYUNDAI”, the matrix looks like below:</p>

<br>

<img class="centered" src="../../assets/example.jpg">

<br>

<h2>Please note the following</h2>
<ul>
    <li>You can use the internet to look for help</li>
    <li>You can copy-paste the code if it is available anywhere but you should be able to explain the copied code.</li>
    <li>You are required to take care of all the edge cases.</li>
</ul>
</div>