<form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>

<mat-form-field class="example-full-width" appearance="standard">
    <input matInput placeholder="First Input" formControlName="firstInput">
    <mat-error *ngIf="errorHandling('firstInput', 'required')">
        You must provide an <strong>Input</strong>
    </mat-error>
</mat-form-field>


<mat-form-field class="example-full-width" appearance="standard">
    <input matInput placeholder="Second Input" formControlName="secondInput">
    <mat-error *ngIf="errorHandling('secondInput', 'required')">
        You must provide an <strong>Input</strong>
    </mat-error>
    </mat-form-field>

<div class="button-wrapper">
    <button mat-flat-button color="primary" [disabled]="!isValidForm()">Submit</button>
</div>

</form>