@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
form {
  width: 420px;
  margin: 35px auto 100px;
  display: block;
  float: none;
}
.mat-form-field {
  width: 100%;
}
.misc-bottom-padding {
  margin: 8px 0 20px;
}
.misc-bottom-padding mat-label {
  margin-right: 15px;
}
.mat-radio-label {
  margin: 0 15px 0 0;
}
.title-center {
  margin: 0 auto;
}
.button-wrapper {
  margin-top: 10px;
}

.about {
  margin: 0 5% 0 5%;
}

.centered {
  position: relative; /* or absolute */
  top: 50%;
  left: 30%;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .centered {
    position: relative; /* or absolute */
    top: 50%;
    left: 0%;
    width: 100%;
  }
}

.footer {
  float: left;
  display: contents;
}

.mat-divider {
  border-top-width: 2px;
  border-top-style: dashed;
}
